<!-- 继承模板 -->
{% extends 'layout/base_page.html' %}

<!-- 加载静态文件-->
{% load static %}

<!--- Title -->
{% block title %}
    用户登陆
{% endblock %}


<!--- CSS -->
{% block css %}
    <style>


        .outer {
            width: 420px;
            height: 400px;
            background-color: whitesmoke;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 20px;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
            padding: 40px 30px;
        }

        .title {
            width: 100%;
            text-align: center;
            font-size: 30px;
            color: navy;
        }

        .layui-form-item {
            margin-bottom: 25px;
        }
    </style>
{% endblock %}


<!--- Content -->
{% block content %}
    <!-- 内容01：容器-->
    <div class="outer">
        <!--标题-->
        <div class="title">用 户 登 陆</div>
        <hr style="margin: 40px 0">
        <!-- 登陆的表单 -->
        <form id="loginForm" class="layui-form" lay-filter="loginForm" method="post" action="{% url 'demo_set_session' %}">
            {% csrf_token %}
            <div class="layui-form-item">
                <label class="layui-form-label" for="loginid"><b>登陆账号：</b></label>
                <div class="layui-input-block">
                    <input type="text" id="loginid" name="loginid" value="{{ username }}" class="layui-input" placeholder="登陆账号/手机号码/邮箱">
                    <span class="error_msg" style="position: absolute; color: red"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="loginpwd"><b>登陆密码：</b></label>
                <div class="layui-input-block">
                    <input type="password" id="loginpwd" name="loginpwd" value="{{ password }}" class="layui-input" placeholder="登陆密码">
                    <span class="error_msg" style="position: absolute; color: red"></span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><b>滑块验证：</b></label>
                <div class="layui-input-block">
                    <div id="slider"></div>
                    <span class="error_msg" style="position: absolute; color: red"></span>
                </div>
            </div>
            <div class="layui-form-item" style="margin-left: 30px;">
                <input type="checkbox" id="rememberme" name="rememberme" title="记住我" checked>
            </div>
            <div class="layui-form-item" style="float: right; margin-top:10px;">
                <button type="submit"  class="layui-btn">登陆</button>
                <button type="button" class="layui-btn layui-btn-primary">取消</button>
            </div>

        </form>
    </div>


{% endblock %}


<!--- JS -->
{% block js %}
    <script>

        $(function () {
            // ===页面初始化===
            initPage();

        });

        // ============== 页面初始化的实现 ============
        function initPage() {
            layui.use(['element', 'form'], function () {
                let element = layui.element;
                let form = layui.form;
            })
        }





    </script>

{% endblock %}