
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
    <head> 
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
        <meta http-equiv="Content-Language" content="en-us" /> 
        <title>{{system_name}}-添加业务监控</title> 
        <meta name="Copyright" content="www.tianya.cn" /> 
        <link href="/site_media/css/base.css" rel="stylesheet" type="text/css" media="screen" /> 
	<link href="/site_media/css/skin/black/ymPrompt.css" rel="stylesheet" type="text/css"> 
	<LINK href="/site_media/css/style.css" type=text/css rel=stylesheet> 
	<script language="JavaScript" src="/site_media/js/prototype.js" type="text/JavaScript"></script>
	<script language="javascript" charset="utf-8" src="/site_media/js/ymPrompt.js"></script> 
	<script language="JavaScript" src="/site_media/js/bash.js" type="text/JavaScript"></script>
    </head> 
<body onload="document.HostForm.AppName.focus();"> 
<div id="container">
  <table class="top_bottom" cellpadding="3" cellspacing="1">
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td align="right" width="45%"><div align="center"><font class="baner_font">业务质量监控</font> </div></td>
      <td align="left"></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
  </table>
  <table width="600" border="0" cellspacing="0" cellpadding="0" height="60">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<form action="/webmonitor/add_do/" method="get" name="HostForm" onsubmit="javascript:return HostForm_SubmitCheck(this);"> 
<TABLE class=tableborder cellSpacing=1 cellPadding=3 width="800" align=center border=0> 
  <TBODY> 
  <TR class=header> 
    <TD colSpan=2 height=25>填写业务信息 </TD> 
  </TR> 
  <tr bgColor="#ffffff"> 
     <td width="15%" height=25 align=center>业务名称：</td> 
     <td width="85%" height=25> 
     <input type="text" name="AppName" id="AppName" size="25"></td> 
  </tr>
  
  <tr bgColor="#ffffff"> 
     <td width="15%" height=25 align=center>监控URL：</td> 
     <td width="85%" height=25> 
     <input type="text" name="HostDomain" id="HostDomain" size="100"></td> 
  </tr> 
 
  <tr bgColor="#ffffff"> 
     <td width="15%" height=25 align=center>通知方式：</td> 
     <td width="85%" height=25>
	    <label for="H"><input name="hotice" type="radio" value="mobile" id="H" checked>短信</label>
            <label for="E"><input type="radio" name="hotice" value="email" id="E">邮件</label>
	    <label for="M"><input type="radio" name="hotice" value="msn" id="M">MSN/Yahoo</label>
	 </td> 
   </tr> 
 
    <tr bgColor="#ffffff"> 
      <td  height=25 align=center>选择探测点：</td> 
      <td  height=25>{{ IDC|safe }}</td> 
    </tr>

    <tr bgColor="#ffffff">
      <td  height=25 align=center>探测规则：</td>
      <td  height=25><label for="status">
        <input name="status" type="checkbox" id="status" value="200" onclick="javascript:Status_check();"/>200状态码</label>
        &nbsp;&nbsp;&nbsp;自定义返回串：<input name="responsechar" type="input" id="responsechar"/>
      </td>
    </tr>
 
  <TR bgColor=#ffffff> 
    <TD height="50" colspan="2" align="center" bgcolor="#ffffff"><input type="button" name="Submit" id="sys_run_button" value=" 增  加 "  onclick="javascript:HostForm_SubmitCheck(this.form);"/>
    &nbsp;&nbsp;<input type="button" name="Submit2" id="sys_run_button" value=" 返  回 "  onClick="javascript:window.location.href='/webmonitor/';"></TD>
  </TR></TBODY></TABLE> 
 </FORM> 
 
</div> 
<table width="600" border="0" cellspacing="0" cellpadding="0" height="320">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
<table class="down_bottom" cellpadding="3" cellspacing="1">
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
    </body> 
</html> 
 
