<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{{DisplayInfo.0}}</title>
        <link href="/site_media/css/base.css" rel="stylesheet" type="text/css" media="screen" /> 
		<link href="/site_media/css/skin/black/ymPrompt.css" rel="stylesheet" type="text/css"> 
		<LINK href="/site_media/css/style.css" type=text/css rel=stylesheet> 
</head>
<body>
<br />
<br />
<br />
<br />
<table width="502" height="175" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#808080">
  <tr>
    <td height="23" bgcolor="#808080">&gt;&gt;{{DisplayInfo.0}}</td>
  </tr>
  <tr>
    <td height="149" bgcolor="#FFFFFF">
      
      <br>
	<font class="InfoFont"><img src="/site_media/images/doing.gif">{{DisplayInfo.1}}</font>
	<br><br><br><div align="center">[<a href="{{DisplayInfo.2}}">返回</a>]</div>
    </td>
  </tr>
</table>
</body>
</html>
