@CHARSET "UTF-8";
body{
margin:0px;
}
#main{
margin:0px auto;
width:770px;
font-size:12px;
}

#empList{
border:1px solid #99CCFF;
border-collapse:collapse;
text-align:center;
}
#empList th{
font-size:12px;
}

#fullBg{
background-color: Gray;
display:none;
z-index:3;
position:absolute;
left:0px;
top:0px;
filter:Alpha(Opacity=30);
/* IE */
-moz-opacity:0.4;
/* Moz + FF */
opacity: 0.4;
}
#msg{
position:absolute;
z-index:4;
display:none;
background-color:#FFFFFF;
border:1px solid #993300;
}
#msg #close{
height:30px;
text-align:right;
padding-top:8px;
padding-right:15px;
}
#msg #ctt{
text-align:center;
font-size:12px;
padding-bottom:15px;
}
#cPic{
cursor:pointer;
}
input{
border:1px solid #5C9CC0;
background-color:#F2FAFF;
}
.TitleText {
	color: #FFFFFF;
	font-weight: bold;
}.searchtable {
	border: 1px solid #808080;
}
.top_bottom {
	background-color: #1d1d1d;
	float: left;
	width: 100%;
	height: 130px;
}
.down_bottom {
	background-color: #333333;
	float: left;
	width: 100%;
	height: 5px;
}
.baner_font {
	font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"MicrosoftJhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;
	font-size:40px;
	color:#ffffff;
	font-weight: bold;
}
#sys_run_button {
	border:0px;
	color:#ffffff;
	background-image: url(/site_media/images/120.gif);
	font-weight:bold;
	font-size:15px;
	height: 31px;
	width: 108px;
}