A {
	COLOR: #003366; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 9pt
}
.InfoFont {
	FONT-SIZE: 11pt
}
TABLE {
	FONT: 9pt Tahoma, Verdana; COLOR: #000000
}
INPUT {
	FONT: 9pt Tahoma, Verdana; COLOR: #000000; BACKGROUND-COLOR: #f8f8f8
}
SELECT {
	FONT: 9pt Tahoma, Verdana; COLOR: #000000; BACKGROUND-COLOR: #f8f8f8
}
TEXTAREA {
	FONT: 9pt Tahoma, Verdana; COLOR: #000000; BACKGROUND-COLOR: #f8f8f8
}
SELECT {
	FONT: 9pt Tahoma, Verdana; COLOR: #000000; BACKGROUND-COLOR: #f8f8f8
}
.nav {
	FONT: bold 9pt Tahoma, Verdana; COLOR: #000000
}
.nav A {
	COLOR: #000000
}
.header {
	FONT: bold 9pt Tahoma, Verdana; COLOR: #ffffff; BACKGROUND-COLOR: #808080
}
.header A {
	COLOR: #ffffff
}
.category {
	FONT: 9pt Tahoma, Verdana; COLOR: #000000; BACKGROUND-COLOR: #fcfcfc
}
.tableborder {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; BACKGROUND: #808080; BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #808080 1px solid
}
.singleborder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f8f8f8
}
.smalltxt {
	FONT: 9pt Tahoma, Verdana
}
.outertxt {
	FONT: 9pt Tahoma, Verdana; COLOR: #000000
}
.outertxt A {
	COLOR: #000000
}
.bold {
	FONT-WEIGHT: bold
}
.epages {
	MARGIN: 3px 0px; FONT: 11px/12px Tahoma
}
.epages  {
	VERTICAL-ALIGN: middle
}
.epages A {
	BORDER-RIGHT: #a6cbe7 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a6cbe7 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; MARGIN: 0px 1px 0px 0px; FONT: 12px/14px verdana; BORDER-LEFT: #a6cbe7 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #a6cbe7 1px solid; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.epages A:hover {
	BORDER-RIGHT: #659b28 1px solid; BORDER-TOP: #659b28 1px solid; BACKGROUND: #f3f8ef; BORDER-LEFT: #659b28 1px solid; COLOR: #004c7d; BORDER-BOTTOM: #659b28 1px solid; TEXT-DECORATION: none
}
.epages INPUT {
	BORDER-RIGHT: #659b28 1px solid; BORDER-TOP: #659b28 1px solid; PADDING-LEFT: 1px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 1px; FONT: bold 12px/15px Verdana; BORDER-LEFT: #659b28 1px solid; COLOR: #659b28; MARGIN-RIGHT: 1px; BORDER-BOTTOM: #659b28 1px solid; HEIGHT: 15px
}