@font-face {font-family: "iconfont";
  src: url('./fonts/iconfont.eot?t=1497338458104'); /* IE9*/
  src: url('./fonts/iconfont.eot?t=1497338458104#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/iconfont.woff?t=1497338458104') format('woff'), /* chrome, firefox */
  url('./fonts/iconfont.ttf?t=1497338458104') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/iconfont.svg?t=1497338458104#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:14px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0px;
    -moz-osx-font-smoothing: grayscale;
}