{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}提问 - {{ block.super }}{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'news:list' %}">首页</a></li>
            <li class="breadcrumb-item"><a href="{% url 'qa:all_q' %}">问答</a></li>
            <li class="breadcrumb-item active" aria-current="page">提问</li>
        </ol>
    </nav>
    <form action="{% url 'qa:ask_question' %}" enctype="multipart/form-data" id="question-form" method="post" role="form">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <button id="publish" type="button" class="btn btn-primary">提交</button>
            <button id="draft" type="button" class="btn btn-default">保存草稿</button>
            <a class="btn btn-light" style="float:right" href="{% url 'qa:all_q' %}">取消</a>
        </div>
    </form>
    {{ form.media }}

{% endblock content %}

{% block js %}
    <script src="{% static 'js/qa.js' %}"></script>
{% endblock js %}
