.footer {
  text-align: center;
  font-size: 80%;
}

.error {
  font-weight: bold;
  color: #FF0000;
}

.login {
  font-style: italic;
}

form label {  display: inline-block;  width: 150px;
  font-weight: bold;
}

td.label {
  font-weight: bold;
}

img.profile {
  vertical-align: top;
}
