<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://172.20.10.11:8000/app01/transfer/" method="post">
    <input type="hidden" name="account" value="654321">
    <input type="hidden" name="money" value="100000">

    <input type="submit" value="看一下 为什么有你呀">


</form>

</body>
</html>


哈哈哈哈<a href="https://www.baidu.com/">百度</a> <h1>哈哈</h1>

<img src="https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3437217665,1564280326&fm=26&gp=0.jpg" alt="">

<script>alert('哈哈哈')</script>