/*container*/
#ym-window{
	background:#fff;overflow:hidden;
	font-size:12px;font-family:'宋体';
}

/*header*/
.ym-tl{padding-left:4px;background:#aaa;}
.ym-tr{padding-right:4px}
.ym-tc{border-top:4px solid #aaa;background:#ddd;overflow:hidden;height:25px;line-height:25px;}
.ym-ttc{height:0px}
.ym-header-text{color:#000;font-weight:bold;margin-left:5px;float:left}
.ym-header-tools{float:right;margin-top:1px}

/*body*/
.ym-ml{background:#aaa;padding-left:4px;}
.ym-mr{padding-right:4px;}
.ym-mc{background:#fff;padding:0}
.ym-body{overflow:auto;padding:0;font-size:12px;}

/*button*/
.ym-btn{background:#fff;text-align:center}

/*footer*/
.ym-bl{background:#aaa;padding-left:4px}
.ym-br{padding-right:4px}
.ym-bc{height:4px;font-size:4px}

/*icon*/
.ymPrompt_alert{
	padding-left:90px;
	background:url(/images/simple_gray/info.gif) no-repeat 20px 50%
}
.ymPrompt_succeed{
	padding-left:90px;
	background:url(/images/simple_gray/right.gif) no-repeat 20px 50%
}
.ymPrompt_error{
	padding-left:90px;
	background:url(/images/simple_gray/err.gif) no-repeat 20px 50%
}
.ymPrompt_confirm{
	padding-left:90px;
	background:url(/images/simple_gray/ask.gif) no-repeat 20px 50%
}
.ymPrompt_alert .ym-content,.ymPrompt_succeed .ym-content,.ymPrompt_error .ym-content,.ymPrompt_confirm .ym-content{padding:50px 0 0}

/*图标公共定义*/
.ym-header-tools div{
	cursor:pointer;
	width:16px;height:16px;float:left;margin:0 1px;
	font-family:webdings
}

/*取消确认按钮样式*/
input.btnStyle{
	background:#ccc;
	width:80px;height:21px;line-height:21px;
	font-size:12px;color:#000;border:0;margin:10px 0
}
