{% extends 'base.html' %}
{% block title %}登录{% endblock %}

{% block style %}

    <style type="text/css">
        .panel {
            padding: 80px 20px 0px;
            min-height: 400px;
            cursor: default;
        }

        .text-center {
            margin: 0 auto;
            text-align: center;
            border-radius: 10px;
            max-width: 900px;
            -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
            -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
        }

        .float-left {
            float: left !important;
        }

        .float-right {
            float: right !important;
        }

        img {
            border: 0;
            vertical-align: bottom;
        }

        h2 {
            padding-top: 20px;
            font-size: 20px;
        }

        .padding-big {
            padding: 20px;
        }

        .alert {
            border-radius: 5px;
            padding: 15px;
            border: solid 1px #ddd;
            background-color: #f5f5f5;
        }
    </style>

{% endblock %}
{% block content %}
    <section class="container">
        <div class="panel">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form action="{% url 'blog:login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">用户名称</label>
                            {{ login_form.username }}
                            {% for err in reg_form.errors.username %}
                                <span style="color: red">{{ err }}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">密码</label>
                            {{ login_form.pwd }}
                            {% for err in reg_form.errors.pwd %}
                                <span style="color: red">{{ err }}</span>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-default">登录</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}