<html>
  <head>
    <title>
      Pending and published tweets
    </title>
    <style type=text/css>
      tr.evenrow {
      	background: #FFFFFF;
      }
      tr.oddrow {
      	background: #DDDDDD;
      }
    </style>
  </head>
  <table>
    <tr>
      <td colspan=2 align=center>
        <b>Pending tweets</b>
      </td>
    </tr>
    <tr>
      <td>
        Tweet text
      </td>
      <td>
        Submitted
      </td>
    </tr>
    {% for tweet in pending_tweets %}
      <tr class="{% cycle 'oddrow' 'evenrow' %}">
        <td>
          <a href="/approve/review/{{ tweet.id }}">{{ tweet.text }}</a>
        </td>
        <td>
          {{ tweet.created_at|timesince }} ago
        </td>
      </tr>
    {% endfor %}
  </table>
  <hr>
  <table>
    <tr>
      <td colspan=2 align=center>
        <b>Published tweets</b>
      </td>
    </tr>
    <tr>
      <td>
        Tweet text
      </td>
      <td>
        Published
      </td>
    </tr>
    {% for tweet in published_tweets %}
      <tr class="{% cycle 'oddrow' 'evenrow' %}">
        <td>
          {{ tweet.text }}
        </td>
        <td>
          {{ tweet.published_at|timesince }} ago
        </td>
      </tr>
    {% endfor %}
  </table>

</html>
