<html>
    <body>
        <form action="" method="post">{% csrf_token %}
            <table>
                <tr>
                    <td>
                        <b>Proposed tweet:</b>
                    </td>
                    <td>
                        <b>{{ tweet.text }}</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Author:</b>
                    </td>
                    <td>
                        <b>{{ tweet.author_email }}</b>
                    </td>
                </tr>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit" />
        </form>
        <hr>
        <b>History</b>
        <hr>
        {% for comment in comments %}
            <i>{{ comment.created_at|timesince }} ago: </i>{{ comment.text }}
            <hr>
        {% endfor %}
    </body>
</html>
