/*container*/
#ym-window{
	background:#fff;overflow:hidden;
	font-size:12px;font-family:'宋体'
}

.ym-tl{padding-left:3px;background:#333 url(/site_media/images/black/title_bg_left.gif) no-repeat 0 0}
.ym-tr{padding-right:3px;background:#333 url(/site_media/images/black/title_bg_right.gif) no-repeat right 0;}
.ym-tc{background:#333 url(/site_media/images/black/title_bg_center.gif) repeat-x 0 0;overflow:hidden;height:25px;line-height:25px;}
.ym-ttc{height:3px}
.ym-header-text{font-size:12px;font-weight:bold;color:#fff;margin-left:5px;float:left}
.ym-header-tools{float:right;margin-top:5px}

/*body*/
.ym-ml{background:#5F5F68;padding-left:2px}
.ym-mr{background:#5F5F68;padding-right:2px}
.ym-mc{background:#fff;padding:0}
.ym-body{overflow:auto;padding:0;font-size:12px;}
.ym-header-tools strong{display:none}

/*button*/
.ym-btn{text-align:center;background:#fff;}

/*footer*/
.ym-bl{background:#5F5F68;padding-left:2px}
.ym-br{background:#5F5F68;padding-right:2px}
.ym-bc{background:#5F5F68;height:2px;font-size:2px}

.ymPrompt_alert{
	padding-left:90px;
	background:url(/site_media/images/black/info.gif) no-repeat 20px 50%
}
.ymPrompt_succeed{
	padding-left:90px;
	background:url(/site_media/images/black/right.gif) no-repeat 20px 50%
}
.ymPrompt_error{
	padding-left:90px;
	background:url(/site_media/images/black/err.gif) no-repeat 20px 50%
}
.ymPrompt_confirm{
	padding-left:90px;
	background:url(/site_media/images/black/ask.gif) no-repeat 20px 50%
}
.ymPrompt_alert .ym-content,.ymPrompt_succeed .ym-content,.ymPrompt_error .ym-content,.ymPrompt_confirm .ym-content{padding:50px 3px 0}
/*图标公共定义*/
.ym-header-tools div{
	cursor:pointer;
	width:15px;height:15px;float:left;margin:0 1px;
	background:url(/site_media/images/black/ico.gif) no-repeat 0 0;
}
.ymPrompt_close{
	background-position:-45px 0 !important;
}
.ymPrompt_max{
	background-position:0 0 !important;
}
.ymPrompt_min{
	background-position:-30px 0 !important;
}
.ymPrompt_normal{
	background-position:-15px 0 !important;
}
/*取消确认按钮样式*/
input.btnStyle{
	background:url(/site_media/images/black/btn_bg.gif) no-repeat;
	width:80px;height:21px;line-height:21px;
	font-size:12px;color:#fff;border:0;margin:10px 0
}
