{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner %}
  <h1>{% trans "Confirm E-mail Address" %}</h1>

  {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

      <p>{% blocktrans with confirmation.email_address.email as email %}请确认 <a href="mailto:{{ email }}">{{ email }}</a> 这是用户的邮件地址{{ user_display }}
          .{% endblocktrans %}</p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
      <button class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
    </form>

  {% else %}

    {% url 'account_email' as email_url %}

      <p>{% blocktrans %}邮件验证链接失效，请
          <a href="{{ email_url }}">获取新的验证链接</a>.{% endblocktrans %}</p>

  {% endif %}

{% endblock %}

