<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>静态资源</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>

<img src="/static/images/1111.jpg" alt="报错了">
<img src="/static/images/1111.jpg" alt="报错了">
<img src="/static/images/1111.jpg" alt="报错了">
<img src="/static/images/1111.jpg" alt="报错了">
<img src="/static/images/1111.jpg" alt="报错了">
<img src="/static/images/1111.jpg" alt="报错了">
<img src="/static/images/1111.jpg" alt="报错了">
<img src="/static/images/1111.jpg" alt="报错了">
<img src="/static/images/1111.jpg" alt="报错了">


<img src="{% static 'images/1111.jpg' %}" alt="报错了">


</body>
</html>